name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build Check
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      
      - name: Restore
        run: dotnet restore NetSdrClient.sln
        
      - name: Build
        run: dotnet build NetSdrClient.sln -c Release --no-restore
        
      - name: Test
        run: dotnet test NetSdrClientAppTests/NetSdrClientAppTests.csproj -c Release --no-build
